@page
@using global::Pages.OfferTeknikSartname
@model IndexModel
@{
    ViewData["Title"] = "Teknik Sartname";
}

<h1>Offer Teknik Sartname List</h1>

<p>
    <a asp-page="Create" asp-route-offerId="@Model.OfferId" class="btn btn-primary btn-sm">Yeni</a>
</p>
<p>
    <a asp-page="/Offers/Edit" asp-route-id="@Model.OfferId">Proje Sayfasina Don</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Alinacak Malin Adi</th>
            <th>Ozellikler</th>
            <th>Birim</th>
            <th>Miktar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OfferTeknikSartnames)
        {
            <tr>
                <td>@item.No</td>
                <td>@item.EquipmentName</td>
                <td>@item.Features</td>
                <td>@item.Birim</td>
                <td>@item.Miktar</td>
                <td>

                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Duzenle</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
