@page
@model IndexModel
@{
    ViewData["Title"] = "Users";
}

<h1>Kullanýcýlar</h1>

<p>
    <a asp-page="/Account/Register" class="btn btn-primary">Yeni Kullanýcý</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Email Onaylandý mý</th>
            <th>Roller</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.EmailConfirmed</td>
                <td>@string.Join(", ", Model.GetUserRoles(user.Id))</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@user.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-page="./Delete" asp-route-id="@user.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table> 