@page
@model EquipmentListModel
@{
    ViewData["Title"] = "Ekipman Listesi";
    Response.Headers["Content-Type"] = "text/html; charset=utf-8";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Yeni Olu&#351;tur</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Ad&#305;</th>
            <th>A&ccedil;&#305;klamas&#305;</th>
            <th>Markas&#305;</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Equipment)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Brand</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">D&uuml;zenle</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table> 