@page
@model EquipmentListModel
@{
    ViewData["Title"] = "Ekipman Listesi";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Yeni Oluþtur</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Adý</th>
            <th>Açýklamasý</th>
            <th>Markasý</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Equipment)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Brand</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table> 