@page
@using global::Pages.EquipmentModelPage
@model DeleteModel
@{
    ViewData["Title"] = "Ekipman Model Sil";
}

<h1>@ViewData["Title"]</h1>

@{
    if(Model.Error != null)
    {
        <div class="alert alert-warning">
            <h3>@Model.Error</h3>
        </div>
    }
}

<div>
    <dl class="row">
        <dt class="col-sm-2">Ekipman Adý</dt>
        <dd class="col-sm-10">@Model.EquipmentModel.Equipment.Name</dd>

        <dt class="col-sm-2">Marka</dt>
        <dd class="col-sm-10">@Model.EquipmentModel.Brand</dd>

        <dt class="col-sm-2">Model</dt>
        <dd class="col-sm-10">@Model.EquipmentModel.Model</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="EquipmentModel.Id" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-page="./Index" class="btn btn-secondary">Listeye Dön</a>
    </form>
</div> 