@page
@using System.Web
@model IndexModel
@{
    ViewData["Title"] = "Firmalar";
}

<p>
    <a asp-page="Create" class="btn btn-primary">Yeni Firma Ekle</a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@HttpUtility.HtmlEncode(Html.DisplayNameFor(m => m.Companies[0].Name))</th>
                <th>@Html.DisplayNameFor(m => m.Companies[0].VergiNo)</th>
                <th>@Html.DisplayNameFor(m => m.Companies[0].VergiDairesiAdi)</th>
                <th>@Html.DisplayNameFor(m => m.Companies[0].Telefon)</th>
                <th>@Html.DisplayNameFor(m => m.Companies[0].Eposta)</th>
                <th>Ýþlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Companies)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.VergiNo</td>
                    <td>@item.VergiDairesiAdi</td>
                    <td>@item.Telefon</td>
                    <td>@item.Eposta</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">@HttpUtility.HtmlEncode("Düzenle")</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detay</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>