@page
@using global::Pages.ProjectOwner
@model DetailsModel
@{
    ViewData["Title"] = "Proje Sahibi Detayı";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectOwner.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectOwner.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectOwner.IdentityNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectOwner.IdentityNo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectOwner.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectOwner.Telephone)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectOwner.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectOwner.Address)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProjectOwner.Id" class="btn btn-warning">Düzenle</a>
    <a asp-page="./Index" class="btn btn-secondary">Listeye Dön</a>
</div> 